In [22]:
import pandas as pd

In [23]:
df1 = pd.read_csv('data/2019_happiness_Index.csv')
df2 = pd.read_csv('data/economic_freedom_index2019_data.csv', encoding='latin1')
df3 = pd.read_csv('data/IHDI.csv')

# df1 happiness 
# - score
# - gdp per capita
# - freedom to make life choices
# - country
# - healthy life expectancy

# df2 economic freedom 
# - 2019 score
# - tax burden
# - business freedom
# - financial freedom
# - unemployment rate
# - country

# df3 human index  
# - hdi
# - ihdi
# - loss%

print(len(df1.index), len(df2.index), len(df3.index))

156 186 153

In [24]:
df1.rename(columns={'Country or region': 'Country'}, inplace=True)
df1.head()

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [25]:
df2.head()
# df2.columns

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6

In [26]:
df3.head()

  Rank      Country   IHDI    HDI  Loss%  Growth_2010
0    1       Norway  0.899  0.957    6.1        0.021
1    2      Iceland  0.894  0.949    5.8        0.055
2    3  Switzerland  0.889  0.955    6.9        0.015
3    4      Finland  0.888  0.938    5.3        0.040
4    5      Ireland  0.885  0.955    7.3        0.066

In [27]:
df4 = pd.merge(pd.merge(df1, df2, on='Country'), df3, on='Country')
df4.head()
df4.columns

Index(['Overall rank', 'Country', 'Score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'CountryID', 'Country Name', 'WEBNAME',
       'Region', 'World Rank', 'Region Rank', '2019 Score', 'Property Rights',
       'Judical Effectiveness', 'Government Integrity', 'Tax Burden',
       'Gov't Spending', 'Fiscal Health', 'Business Freedom', 'Labor Freedom',
       'Monetary Freedom', 'Trade Freedom', 'Investment Freedom ',
       'Financial Freedom', 'Tariff Rate (%)', 'Income Tax Rate (%)',
       'Corporate Tax Rate (%)', 'Tax Burden % of GDP',
       'Gov't Expenditure % of GDP ', 'Population (Millions)',
       'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)', 'Rank', 'IHDI', 'HDI', 'Loss%',
       'Growth_2010'],
      dtype='object')

In [28]:
df5 = df2[['Country Name', 'Region']]
df5.rename(columns={'Country Name': 'Country', 'Region': 'Region'}, inplace=True)
df5.head()

df4 = pd.merge(df4, df5, on='Country')
df4.head()
df4.columns

/var/folders/1n/ysswfgs10kv731d984j0x6z80000gn/T/ipykernel_9871/3180736020.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.rename(columns={'Country Name': 'Country', 'Region': 'Region'}, inplace=True)

Index(['Overall rank', 'Country', 'Score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'CountryID', 'Country Name', 'WEBNAME',
       'Region_x', 'World Rank', 'Region Rank', '2019 Score',
       'Property Rights', 'Judical Effectiveness', 'Government Integrity',
       'Tax Burden', 'Gov't Spending', 'Fiscal Health', 'Business Freedom',
       'Labor Freedom', 'Monetary Freedom', 'Trade Freedom',
       'Investment Freedom ', 'Financial Freedom', 'Tariff Rate (%)',
       'Income Tax Rate (%)', 'Corporate Tax Rate (%)', 'Tax Burden % of GDP',
       'Gov't Expenditure % of GDP ', 'Population (Millions)',
       'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)', 'Rank', 'IHDI', 'HDI', 'Loss%', 'Growth_2010',
       'Region_y'],
      dtype='object')

In [30]:
df6 = pd.read_csv('data/world_population.csv', encoding='latin1')
df6.rename(columns={'Country/Territory': 'Country'}, inplace=True)
df6 = df6[['Country', 'Continent']]

df7 = pd.read_csv('data/world_country_and_usa_states_latitude_and_longitude_values.csv')
df7.rename(columns={'country' : 'Country'}, inplace=True)
df7 = df7[['latitude', 'longitude']]

df7.columns

# df4 = pd.merge(df4, df6, on='Country')
# df4 = pd.merge(df4, df7, on='Country')
# df4.head()

Index(['latitude', 'longitude'], dtype='object')

In [ ]:
# df1 happiness 
# - Score
# - GDP per capita
# - Freedom to make life choices
# - Country
# - Healthy life expectancy

# df2 economic freedom 
# - 2019 Score
# - Tax Burden
# - Business Freedom
# - Financial Freedom
# - Unemployment (%)

# df3 human index  
# - HDI
# - IHDI
# - Loss%

In [ ]:
import pandas as pd

Data Preparation

In [ ]:
##df_index = df4[['Country', 'Score', 'Region', 'Continent', 'GDP per capita', 'Freedom to make life choices', 
#                 'Healthy life expectancy', '2019 Score', 'Tax Burden', 'Business Freedom',
#                 'Financial Freedom', 'Unemployment (%)', 'HDI', 'IHDI', 'Loss%']]

df4.columns

In [ ]:
df_index.loc[df_index["Continent"] == "Oceania", "Continent"] = "Asia & Oceania"
df_index.loc[df_index["Continent"] == "Asia", "Continent"] = "Asia & Oceania"
df_index.head()

In [ ]:
df_index.isna().sum()

In [ ]:
df_index[df_index['2019 Score'].isna()]

In [ ]:
# df_index.dropna(how='all', inplace=True)
df_index.dropna(inplace=True)
df_index
df_index.isna().sum()

In [ ]:
df_index.isna().sum()

In [ ]:
df_index[df_index.duplicated()]

In [ ]:
df_index.duplicated(keep=False).sum()

In [ ]:
df_index.to_csv('final.csv', index = False, encoding='utf-8')