In [304]:
import pandas as pd

In [305]:
df1 = pd.read_csv('data/2019_happiness_Index.csv')
df2 = pd.read_csv('data/economic_freedom_index2019_data.csv', encoding='latin1')
df3 = pd.read_csv('data/IHDI.csv')

# df1 happiness 
# - score
# - gdp per capita
# - freedom to make life choices
# - country
# - healthy life expectancy

# df2 economic freedom 
# - 2019 score
# - tax burden
# - business freedom
# - financial freedom
# - unemployment rate
# - country

# df3 human index  
# - hdi
# - ihdi
# - loss%

print(len(df1.index), len(df2.index), len(df3.index))

156 186 153

In [306]:
df1.rename(columns={'Country or region': 'Country'}, inplace=True)
df1.loc[(df1['Country'] == "United States")].head()
df1.head()

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [307]:
df2.drop(columns=['Country'], inplace=True)
df2.rename(columns={'Country Name': 'Country'}, inplace=True)
df2.head()
df2.columns

Index(['CountryID', 'Country', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2019 Score', 'Property Rights', 'Judical Effectiveness',
       'Government Integrity', 'Tax Burden', 'Gov't Spending', 'Fiscal Health',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Tariff Rate (%)', 'Income Tax Rate (%)', 'Corporate Tax Rate (%)',
       'Tax Burden % of GDP', 'Gov't Expenditure % of GDP ',
       'Population (Millions)', 'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [308]:
df3.head()

  Rank      Country   IHDI    HDI  Loss%  Growth_2010
0    1       Norway  0.899  0.957    6.1        0.021
1    2      Iceland  0.894  0.949    5.8        0.055
2    3  Switzerland  0.889  0.955    6.9        0.015
3    4      Finland  0.888  0.938    5.3        0.040
4    5      Ireland  0.885  0.955    7.3        0.066

In [309]:
df4 = pd.merge(df1, df2, on='Country')
print(df4.loc[df4["Country"] == "Ivory Coast"])
print(len(df4["Country"]))
df4 = pd.merge(df4, df3, on='Country')
print(df4.loc[df4["Country"] == "Ivory Coast"])
df4.columns

print(len(df4["Country"]))


# df1["Country"].sort_values().to_csv('1.csv', index = False, encoding='utf-8')
# df2["Country"].sort_values().to_csv('2.csv', index = False, encoding='utf-8')
# df3["Country"].sort_values().to_csv('3.csv', index = False, encoding='utf-8')

    Overall rank      Country  Score  GDP per capita  Social support  \
95            99  Ivory Coast  4.944           0.569           0.808

    Healthy life expectancy  Freedom to make life choices  Generosity  \
95                    0.232                         0.352       0.154

    Perceptions of corruption  CountryID  ... Gov't Expenditure % of GDP   \
95                       0.09         40  ...                        23.1

   Population (Millions)  GDP (Billions, PPP)  GDP Growth Rate (%)  \
95                  25.0               $96.9                   7.8

    5 Year GDP Growth Rate (%)  GDP per Capita (PPP)  Unemployment (%)  \
95                         8.6                $3,883               2.6

    Inflation (%)  FDI Inflow (Millions)  Public Debt (% of GDP)
95            0.8                  674.7                    46.4

[1 rows x 41 columns]
150
    Overall rank      Country  Score  GDP per capita  Social support  \
83            99  Ivory Coast  4.944           0.569           0.808

    Healthy life expectancy  Freedom to make life choices  Generosity  \
83                    0.232                         0.352       0.154

    Perceptions of corruption  CountryID  ... GDP per Capita (PPP)  \
83                       0.09         40  ...               $3,883

   Unemployment (%)  Inflation (%)  FDI Inflow (Millions)  \
83              2.6            0.8                  674.7

    Public Debt (% of GDP)  Rank   IHDI    HDI  Loss%  Growth_2010
83                    46.4   132  0.346  0.538   35.7        0.047

[1 rows x 46 columns]
134

In [310]:
# df5 = df2[['Country Name', 'Region']]
# df5.rename(columns={'Country Name': 'Country'}, inplace=True)
# df5.head()

# df4 = pd.merge(df4, df5, on='Country')
# df4.head()

# df4.loc[(df4['Country'] == "United States")].head()
df4.columns

Index(['Overall rank', 'Country', 'Score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'CountryID', 'WEBNAME', 'Region',
       'World Rank', 'Region Rank', '2019 Score', 'Property Rights',
       'Judical Effectiveness', 'Government Integrity', 'Tax Burden',
       'Gov't Spending', 'Fiscal Health', 'Business Freedom', 'Labor Freedom',
       'Monetary Freedom', 'Trade Freedom', 'Investment Freedom ',
       'Financial Freedom', 'Tariff Rate (%)', 'Income Tax Rate (%)',
       'Corporate Tax Rate (%)', 'Tax Burden % of GDP',
       'Gov't Expenditure % of GDP ', 'Population (Millions)',
       'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)', 'Rank', 'IHDI', 'HDI', 'Loss%',
       'Growth_2010'],
      dtype='object')

In [311]:
df6 = pd.read_csv('data/world_population.csv', encoding='latin1')
df6.rename(columns={'Country/Territory': 'Country'}, inplace=True)
df6 = df6[['Country', 'Continent']]

df7 = pd.read_csv('data/world_country_and_usa_states_latitude_and_longitude_values.csv')
df7.rename(columns={'country' : 'Country'}, inplace=True)
df7 = df7[['latitude', 'longitude', 'Country']]

# print(df4.columns)
df4 = pd.merge(df4, df6, on='Country')
# print(df4.columns)
df4 = pd.merge(df4, df7, on='Country')
# print(df4.columns)


df4.loc[(df4['Country'] == "United States")].head()

# df6["Country"].sort_values().to_csv('6.csv', index = False, encoding='utf-8')
# df7["Country"].sort_values().to_csv('7.csv', index = False, encoding='utf-8')

In [312]:
# df1 happiness 
# - Score
# - GDP per capita
# - Freedom to make life choices
# - Country
# - Healthy life expectancy

# df2 economic freedom 
# - 2019 Score
# - Tax Burden
# - Business Freedom
# - Financial Freedom
# - Unemployment (%)

# df3 human index  
# - HDI
# - IHDI
# - Loss%

In [313]:
import pandas as pd

Data Preparation

In [314]:
df_index = df4[['Country', 'Score', 'Region', 'Continent', 'GDP per capita', 'Freedom to make life choices', 
                'Healthy life expectancy', '2019 Score', 'Tax Burden', 'Business Freedom',
                'Financial Freedom', 'Unemployment (%)', 'HDI', 'IHDI', 'Loss%', 'latitude', 'longitude']]

df_index.columns

Index(['Country', 'Score', 'Region', 'Continent', 'GDP per capita',
       'Freedom to make life choices', 'Healthy life expectancy', '2019 Score',
       'Tax Burden', 'Business Freedom', 'Financial Freedom',
       'Unemployment (%)', 'HDI', 'IHDI', 'Loss%', 'latitude', 'longitude'],
      dtype='object')

In [315]:

df_index.loc[df_index["Continent"] == "Oceania", "Continent"] = "Asia & Oceania"
df_index.loc[df_index["Continent"] == "Asia", "Continent"] = "Asia & Oceania"
df_index.head()

,Country,Score,Region,Continent,GDP per capita,Freedom to make life choices,Healthy life expectancy,2019 Score,Tax Burden,Business Freedom,Financial Freedom,Unemployment (%),HDI,IHDI,Loss%,latitude,longitude
0,Finland,7.769,Europe,Europe,1.340,0.596,0.986,74.9,66.8,89.4,80.0,8.6,0.938,0.888,5.3,61.924110,25.748151
1,Denmark,7.600,Europe,Europe,1.383,0.592,0.996,76.7,42.0,90.7,80.0,5.7,0.940,0.883,6.1,56.263920,9.501785
2,Norway,7.554,Europe,Europe,1.488,0.603,1.028,73.0,57.4,89.4,60.0,4.2,0.957,0.899,6.1,60.472024,8.468946
3,Iceland,7.494,Europe,Europe,1.380,0.591,1.026,77.1,72.7,88.4,70.0,2.8,0.949,0.894,5.8,64.963051,-19.020835
4,Netherlands,7.488,Europe,Europe,1.396,0.557,0.999,76.8,51.6,81.4,80.0,4.8,0.944,0.878,7.0,52.132633,5.291266

In [316]:
df_index.isna().sum()

df_index.loc[df_index["Country"] == "United States"]

,Country,Score,Region,Continent,GDP per capita,Freedom to make life choices,Healthy life expectancy,2019 Score,Tax Burden,Business Freedom,Financial Freedom,Unemployment (%),HDI,IHDI,Loss%,latitude,longitude
18,United States,6.892,Americas,North America,1.433,0.454,0.874,76.8,75.1,83.8,80.0,4.4,0.926,0.808,12.7,37.09024,-95.712891

In [317]:
df_index[df_index['2019 Score'].isna()]

,Country,Score,Region,Continent,GDP per capita,Freedom to make life choices,Healthy life expectancy,2019 Score,Tax Burden,Business Freedom,Financial Freedom,Unemployment (%),HDI,IHDI,Loss%,latitude,longitude
108,Iraq,4.437,Middle East and North Africa,Asia & Oceania,1.043,0.241,0.574,NaN,NaN,54.4,NaN,8.2,0.674,0.541,19.7,33.223191,43.679291
130,Yemen,3.380,Middle East and North Africa,Asia & Oceania,0.287,0.143,0.463,NaN,NaN,45.1,NaN,14.0,0.470,0.321,31.7,15.552727,48.516388

In [318]:
# df_index.dropna(how='all', inplace=True)
df_index.dropna(inplace=True)
df_index
df_index.isna().sum()

/var/folders/8d/8m9jz0p12t34z5kp6d9swp9h0000gn/T/ipykernel_69915/3928142792.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_index.dropna(inplace=True)

Country                         0
Score                           0
Region                          0
Continent                       0
GDP per capita                  0
Freedom to make life choices    0
Healthy life expectancy         0
2019 Score                      0
Tax Burden                      0
Business Freedom                0
Financial Freedom               0
Unemployment (%)                0
HDI                             0
IHDI                            0
Loss%                           0
latitude                        0
longitude                       0
dtype: int64

In [319]:
df_index.isna().sum()

Country                         0
Score                           0
Region                          0
Continent                       0
GDP per capita                  0
Freedom to make life choices    0
Healthy life expectancy         0
2019 Score                      0
Tax Burden                      0
Business Freedom                0
Financial Freedom               0
Unemployment (%)                0
HDI                             0
IHDI                            0
Loss%                           0
latitude                        0
longitude                       0
dtype: int64

In [320]:
df_index[df_index.duplicated()]

Empty DataFrame
Columns: [Country, Score, Region, Continent, GDP per capita, Freedom to make life choices, Healthy life expectancy, 2019 Score, Tax Burden, Business Freedom, Financial Freedom, Unemployment (%), HDI, IHDI, Loss%, latitude, longitude]
Index: []

In [321]:
df_index.duplicated(keep=False).sum()

0

In [322]:
df_index.to_csv('final.csv', index = False, encoding='utf-8')

In [323]:
df_index.loc[df_index["Country"] == "Ivory Coast"]

,Country,Score,Region,Continent,GDP per capita,Freedom to make life choices,Healthy life expectancy,2019 Score,Tax Burden,Business Freedom,Financial Freedom,Unemployment (%),HDI,IHDI,Loss%,latitude,longitude
83,Ivory Coast,4.944,Sub-Saharan Africa,Africa,0.569,0.352,0.232,62.4,77.5,61.0,50.0,2.6,0.538,0.346,35.7,7.539989,-5.54708

In [324]:
s1 = df1["Country"].sort_values()
s2 = df2["Country"].sort_values()
s3 = df3["Country"].sort_values()
s4 = df4["Country"].sort_values()
s5 = df5["Country"].sort_values()
s6 = df6["Country"].sort_values()
s7 = df7["Country"].sort_values()
si = df_index["Country"].sort_values()

frame = {
    '1': s1.sort_values(),
    '2': s2.sort_values(),
    '3': s3.sort_values(),
    '6': s6.sort_values(),
    '7': s7.sort_values(),
    'i': si.sort_values(),
}

result = pd.DataFrame(frame)
result.head()
result.to_csv('test.csv', index = False, encoding='utf-8')

print(len(s1), len(s2), len(s3), len(s4), len(s5), len(s6), len(s7), len(si))

156 186 153 134 186 234 245 132